.mizeIzbira{
	margin-top: 1%;
	display: table-row !important;
    overflow: scroll !important;
    overflow-y: hidden !important;
    height: 60px !important;
    font-size: 30px !important;
}
.vac{
	margin-top: 3px;
	border-radius: 5px !important;
	height: 30px;
	width: 60px;
	float: right;
	text-align: center;
	padding-top: 5px;
	text-decoration: none !important;

}
.container{
	margin-top: 1%;
	width: 90% !important;
	background-color: #e2e2e2;
	border-radius: 20px !important;
	padding-bottom: 2%;
}
.miza{
	display: table-cell !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
	border: 1px solid LightSlateGrey !important;
	border-radius: 5px;
	background-color: Gainsboro;
}
.tipHrane{
	height: 40px !important;
    font-size: 30px !important;
	margin-top: 2%;
	width: 35% !important;
	margin-left:auto;
   	margin-right:auto;
   	display:block;
}
.selectHrana{
	margin-top: 4% !important;
    font-size: 30px !important;

}
.drugi{
	display: flex;
    align-items: center;
}
.red{
	border: solid 1px black;
	border-radius: 20px !important;
	margin-top: 2%;
	margin-left:5%;
  	margin-right:auto;
  	padding: 20px;
	background-color: white;
	height: 540px;
	overflow-y: auto;
}
.gumbNaTleh{
	margin-left:auto;
   	margin-right:auto;
   	display:block;
}
